[project]
	description = Automatically exported from code.google.com/p/google-api-java-client.samples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rahul Uppalwar (RGU5Android)
[access "refs/for/refs/*"]
	read = group user/Rahul Uppalwar (RGU5Android)
	push = group user/Rahul Uppalwar (RGU5Android)
	label-Code-Review = -2..+2 group user/Rahul Uppalwar (RGU5Android)
	label-Verified = -1..+1 group user/Rahul Uppalwar (RGU5Android)
	rebase = group user/Rahul Uppalwar (RGU5Android)
	removeReviewer = group user/Rahul Uppalwar (RGU5Android)
	submit = group user/Rahul Uppalwar (RGU5Android)
[access "refs/heads/*"]
	read = group user/Rahul Uppalwar (RGU5Android)
	create = group user/Rahul Uppalwar (RGU5Android)
	push = +force group user/Rahul Uppalwar (RGU5Android)
	pushMerge = group user/Rahul Uppalwar (RGU5Android)
[access "refs/tags/*"]
	push = group user/Rahul Uppalwar (RGU5Android)
	push = +force group user/Rahul Uppalwar (RGU5Android)
